.add-contact-container {
    padding: 1rem;
    border: solid 1px #0003;
    border-radius: 0.25rem;
}

.add-contact-container form {
  display: flex;
  align-items: center;
}

.add-contact-container form label{
    margin-right: 2rem;
}

.add-contact-container form label h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

.add-contact-container form label input {
    font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: solid 1px #0003;
}

.add-contact-container form .login-btn {
    padding: 0.25rem 0.8rem;
    border-radius: 0.25rem;
    font-weight: bold;
    background-color: rgb(24,24,24);
    color: white;
    cursor: pointer;
    margin: auto 0.5rem 0 0;
}

.add-contact-container form .login-btn:hover{
    background-color: rgb(40,40,40);
}
